.App {
  min-height: 100vh;
  background-color: #1a202c;
  color: white;
  overflow: hidden;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgs-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 90%;
}

.each-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(136, 172, 142);
  width: 45%;
  height: 15vw;
  margin: 2.5%;
}

.each-img img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.img-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 5%;
  width: 50%;
}

.add-destination{
  background: rgba(0, 0, 0, 0.411);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

.add-destination form {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5%;
  width: 20%;
  height: 50%;
  background: rgb(255, 255, 255);
}

.add-destination form button{
  position: absolute;
  top: 20px;
  left: 20px;
}

.add-destination input{
  font-size: 1.5em;
}
